<%= render :partial => "shared/navbar" %>

<div class="col-sm-8 col-sm-offset-2 newpaper">

<h2>Adding a Research Article</h2> <br>

<p>If Synapse does not contain your article, you can submit it for verification using the form below.</p>

<p>To add an article, you must:</p>
<ul>
	<li>be a publicly listed author of the article</li>
	<li>provide your article's unique digital object identifier (DOI)</li>
	<li>enter MNI coordinates</li>
</ul>

<br>

<a href="#">What is a DOI?</a> <br>
<a href="#">Converting to MNI</a> <br>

<%= form_for(@newpaper) do |p| %>

    <label class="margintop">Title</label> <br>
    <%= p.text_field :title %> <br><br>

    <label>Journal</label>  <br>
    <%= p.text_field :journal %> <br><br>

    <label>DOI:</label>  <br>
    <%= p.text_field :doi %> <br><br>

    <label>Your name</label> <br>
    <%= p.text_field :author %> <br><br>

    <p>Your contact information will only be used to verify articles</p>

    <label>Email</label> <br>
    <%= p.text_field :email %> <br><br>

    <label>Phone</label> <br>
    <%= p.text_field :phone %> <br><br>

    <div class="coordinates">

    <label>Coordinates</label> <br>
    <input class="coordinate" id="coord1" name="coordinates[1][x]" placeholder="X" />
	<input class="coordinate" id="coord1" name="coordinates[1][y]" placeholder="Y" />
	<input class="coordinate" id="coord1" name="coordinates[1][z]" placeholder="Z" />
	<span class="glyphicon glyphicon-plus add1"></span><br>

	</div>

    <%= p.submit "Submit", :class => "btn btn-default" %> <br>

    <p class="margintop">Please contact <a href="mailto:noahkaplan4@gmail.com", target="_blank">Noah Kaplan</a> with any questions</p>

<% end %>

</div>

<script>

var num = 1

$(document).on('click', 'div.coordinates span', function() {
	num = num + 1
	var field = '<input class="coordinate" name="coordinates[' + num + '][x]" placeholder="X" /><input class="coordinate" name="coordinates[' + num + '][y]" placeholder="Y" /><input class="coordinate" name="coordinates[' + num + '][z]" placeholder="Z" /><span class="glyphicon glyphicon-plus add' + num + '"></span><br>'

	$( ".coordinates" ).append(field);

	var plus = ".add" + (num - 1).toString(); ;
	$( plus ).hide();
});

</script>