<%= render :partial => "shared/navbar" %>

<div class="container">
<div class="row">
<div class="col-xs-4 col-xs-offset-1">

<h2>Sign up</h2> <br>

<%= form_for(@user) do |f| %>
    <% unless @user.errors.count == 0   %>
    <div class="alert alert-error">
        The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
    <% end %>
    </ul>
    <% end %>

    <div class="form-group">
        <%= f.label :firstname %> <br>
        <%= f.text_field :firstname, class: "form-control" %> <br> <br>
    </div>

    <div class="form-group">
        <%= f.label :lastname %> <br>
        <%= f.text_field :lastname, class: "form-control" %> <br> <br>
    </div>

    <div class="form-group">
        <%= f.label :email %> <br>
        <%= f.text_field :email, class: "form-control" %> <br> <br>
    </div>

    <div class="form-group">
        <%= f.label :password %> <br>
        <%= f.password_field :password, class: "form-control" %> <br> <br>
    </div>

    <div class="form-group">
        <%= f.label :password_confirmation, "Confirm password" %> <br>
        <%= f.password_field :password_confirmation, class: "form-control" %> <br> <br>
    </div>

    <%= f.submit "Create account", class: "btn btn-default" %>
<% end %>

</div>
</div>
</div>