<%= render :partial => "shared/navbar" %>

<div class="profile">

<h2>Saved Searches</h2>

<h4><%= @user.firstname %>
<%= @user.lastname %><br>
<%= @user.email %> <br><br></h4>

<% if @user.searches.empty? %>
	<p>None</p>
<% else %>

<table>
	<% @user.searches.each do |s| %>
		<tr>
			<td class="first">
				<%= s.x %>,
				<%= s.y %>,
				<%= s.z %>
			</td>
			<td class="middle">
				<span>+/- </span><%= s.range %>
			</td>
			<td class="last">
				<%= form_for :search, url: user_search_path do |f| %>
				<%= f.hidden_field :x, id: "x", value: s.x %>
				<%= f.hidden_field :y, id: "y", value: s.y %>
				<%= f.hidden_field :z, id: "z", value: s.z %>
				<%= select_tag(:range, options_for_select([["#{s.range}", s.range]]), id: "range", type: "hidden" ) %>
				<%= f.submit 'Search', class: "btn btn-default" %>
			</td>
			<% end %>
		</tr>
	<% end %>
</table>

<% end %>

</div>


