<h1>Papers</h1>

<% @papers.each do |paper| %>
	<%= paper.x %> <br>
	<%= paper.y %> <br>
	<%= paper.z %> <br>
	<%= paper.doi %> <br>
	<%= paper.coordinatesystem %> <br>
	<%= paper.zscore %> <br>
<% end %>